@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Singleton: @ViewBag.Singleton</p>
    <p>Scoped: @ViewBag.Scoped</p>
    <p>Transient: @ViewBag.Transient</p>
    <hr />
    <p>Başka objedeki Singleton: @ViewBag.ServiceSingleton</p>
    <p>Başka objedeki  Scoped: @ViewBag.ServiceScoped</p>
    <p>Başka objedeki Transient: @ViewBag.ServiceTransient</p>

</div>
